.searchBar {
  display: inline;
}

.zoom {
  padding: 50px;
  background-color: transparent;
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.block {
  height: auto;
  width: 450px;
  position: absolute;
  top: 10%;
  left: 30%;
}

.hidden {
  visibility: hidden;
}

.select {
  height: 110vh;
}

.boyTheme {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 110vh;
}

.girlTheme {
  background: #FFAFBD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffc3a0, #FFAFBD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 110vh;
}

.navbar-back {
  color: aqua;
}

.nav-text {
  font-family: 'Lobster', cursive;
  color: red;
  font-size: .30in;
}

