.searchBar {
  width: 380px;
  display: inline;
}

.zoom {
  padding: 50px;
  background-color: transparent;
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.block {
  height: auto;
  width: 450px;
  position: absolute;
  top: 10%;
  left: 30%;
}

.hidden {
  visibility: hidden;
}
.select{
    height: 110vh;
}
.select-background{
    background-color: rgb(121, 168, 255);
}
.navbar-back{
color: aqua;


}
.nav-text{
  font-family: 'Lobster', cursive;
  color: red;
  font-size: .30in;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}