.back{
    background-image: url(https://orig00.deviantart.net/4ee0/f/2014/303/f/2/pokemon_sprite_gif___petalburg_woods_by_loupii-d7i3cm4.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    
}
.btnPos{
    position: absolute;
    bottom: 10%;
    left: 45%;
}
.genderBoy{
    padding-right: 10%;
}

.genderGirl{
    padding-left: 10%;
}

.padTop{
    padding-top: 10%;
}

.or{
   font-size: 8em;
   font-family: 'Lobster', cursive; 
}
.form-display{
    display: inline-flex;
    position: absolute;
    left: 30%;
}
   
label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
  }
