<div class="container-fluid back">
  <div class="row text-center pt-5 ">
      <div class="col boy">
        <label>
          <input type="checkbox">
          <img src="./assets/155px-FireRed_LeafGreen_Red.png" alt="Boys">
        </label>
      </div>
      <div class="col px-0">
        <h1 class="or">OR</h1>
      </div>
      <div class="col girl">
        <label >
          <input type="checkbox">
          <img src="./assets/140px-FireRed_LeafGreen_Leaf.png" alt="Girl">
        </label>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <button routerLink="/Select" class="btn btn-outline">Accept</button>
      </div>
    </div>
</div>
